<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="../img/horse.png" type="image/x-icon">




    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/script.js"></script>

</head>
<body>
<div class="main pt-8 pl-4 flex flex-row h-max">
    <div class="sidebar flex flex-col pt-10 pl-3 pr-5 h-screen sticky top-0">
        <a href="/index.html">
            <img class="basis-1/5 mb-auto" src="../img/horse.png" width="40px">
        </a>

        <div class="pages basis-3/5 my-36 align-center">
            <a href="./problems.html">
                <img src="../img/problems.png" class = "mb-4"  width="40px">
            </a>

            <a href="./contests.html">
                <img src="../img/contests.png" class = "mb-4" width="40px">
            </a>

            <a href="./friends.html">
                <img src="../img/friends.png" class = "mb-4" width="40px">
            </a>

        </div>


        <div class="basis-1/5 mt-auto mb-0 justify-end items-end">
            <a href="/profile.html">
                <img src="../img/akzhol.jpg" class=" rounded-full h-10 w-10">
            </a>
        </div>



    </div>


    <div class="submission-info flex flex-col w-full rounded-t-3xl py-20 px-24">

        <div class="submission-header flex flex-row">
            <div class="mr-auto">
                <div class="title-container flex flex-row mr-auto text-white mb-5">
                    <p id = "title" class = "text-left text-3xl font-semibold">Problem List</p>
                </div>


                <div class="dropdowns pt-2">
                    <select class="difficulty border-solid border-2 p-2 rounded-md mr-3">
                        <option value="0">Difficulty</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>

                    </select>

                    <select class="status border-solid border-2 p-2 rounded-md mr-3">
                        <option value="0">Status</option>
                        <option value="1">Solved</option>
                        <option value="2">Attempted</option>
                        <option value="2">todo</option>

                    </select>
                </div>



            </div>
        </div>


        <!-- <div class="problems-set mt-16 text-white text-xl h-max flex flex-col">
            <div class="problem flex flex-row mb-4">
                <img src="../img/accept.png" width="35px">
                <p class = "py-1 px-3 hover:underline hover:underline-offset-8 ml-7" id = "problem-title">Weight the Tree</p>
                <p class = "py-1 px-3 rounded-3xl ml-auto" id = "medium"> Medium </p>
            </div>
        </div> -->


        <table  class="problems problems-set mt-16 text-white text-xl h-max flex flex-col">
            <tr id="header">
                <th id="taskid">Difficulty</th>
                <th id="username">Description</th>
                <th id="totalSubmissions">Total Submissions</th>
                <th id="usersSolved">Users Solved</th>
            </tr>

            <tr id="pr" th:each="problem : ${problems}" >
                <td id="difficulty" th:text="${problem.difficulty}"></td>
                <td id="description"><a th:href="@{'/problem/' + ${problem.id}}" > <div th:text="${problem.title}"></div> </a></td>
                <td id="total_submissions" th:text="${problem.totalSubmissions}"></td>
                <td id="users_solved" th:text="${problem.usersSolved}"></td>
            </tr>
        </table>




    </div>



</div>
</div>
</body>
</html>
